<%= form_with(model: core_info) do |form| %>
  <% if core_info.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(core_info.errors.count, "error") %> prohibited this core_info from being saved:</h2>

      <ul>
        <% core_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.text_field :age %>
  </div>

  <div>
    <%= form.label :country, style: "display: block" %>
    <%= form.text_field :country %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
